[access]
	inheritFrom = All-Projects
[project]
	description = MP Ansible
[access "refs/*"]
	owner = group user/kbalinski
[access "refs/for/refs/*"]
	read = group user/kbalinski
	push = group user/kbalinski
	label-Code-Review = -2..+2 group user/kbalinski
	label-Verified = -1..+1 group user/kbalinski
	rebase = group user/kbalinski
	removeReviewer = group user/kbalinski
	submit = group user/kbalinski
[access "refs/heads/*"]
	read = group user/kbalinski
	create = group user/kbalinski
	push = +force group user/kbalinski
	pushMerge = group user/kbalinski
[access "refs/tags/*"]
	push = group user/kbalinski
	push = +force group user/kbalinski
